<section class="grey-section">
	<div id="yc" class="tc pa2">
		<h3 class="pb2 f3">Welcome YCombinator Parter!</h3>
		<span>Thanks for checking out my website. Please be aware the content here is describing the first couple MVP versions, which are only building up the supporting features for the core product. It will take a lot of creativity to imagine how this could grow into a billion dollar company in a short timeframe.</span>
	</div>
</section>